.flex-container {
            display: flex;
            align-items: flex-start;
            margin-top: 0;
            padding-top: 0;
        }
        
        
        .inhold {
            margin: 10px;
            top: 10px;
            display: flex;
            flex-direction: column;
            text-align: left;
            max-width: 600px;

        }
         .info {
            max-width: 100px;
            margin-top: 10px;
            font-size: 0.9em;
            text-align: left;
            margin-left: 30px;
        }
        .inhold h1 {
            margin-top: 10px;
        }
.bilde-kolonne {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bilde-kolonne img {
    margin: 10px;
    border-radius: 8px;
    width: 30vw;
    max-width: 700px;
    height: auto;
}