
        @media (prefers-color-scheme: dark) {
          body {
            background: #4e4d51;
            color: #eee;
          }
          ul#knapper {
            background: #2b335b;
          }
          #knapper li a:hover {
    background-color: #3f3a8d;
        }
        .prosjekt-kort {
    border: 1px solid #444;
        }
        #lede-kanpp {
    background-color: #2b335b;
    border: 1px solid #eee;
        }