body {
            background: #ffffff;
            color: #333;
}
        ul#knapper {
            background: #6086b5;
        }
        #knapper li a {
            color: white;
}
        #knapper li a:hover {
    background-color: #9fb3ea;
        }
        .prosjekt-kort {
    border: 1px solid #292b2d;
    background-color: #e2edf6;
        }
        #lede-kanpp {
    background-color: #6086b5;
    color: white;
    border: 0.2px solid #eee;
        }

