body {
            background: #edf5ff;
            color: #333;
}
        ul#knapper {
            background: #20618f;
        }
        #knapper li a {
            color: white;
}
        #knapper li a:hover,
        #menuContent li a:hover {
    background-color: #3e7aa4;
        }
        .prosjekt-kort {
    border: 1px solid #ffffff;
    background-color: #ffffff;
        }
        #lede-knapp {
    background-color: #20618f;
    color: white;
    border: 0.4px solid #184f76;
        }
        .info {
                background: #f5f5f5; /* Bakgrunnsfarge på boksen */
        }
        #menuContent {
        border: 1px solid #184f76;
        background-color: #20618f;
        }
        #menuContent li a {
        color: white;
        }

