
        @media (prefers-color-scheme: dark) {
        body {
          background: #383b42;
          color: #ffffff;
        }
        ul#knapper {
            background: #164465;
        }
        #knapper li a {
            color: white;
        }
        #knapper li a:hover {
    background-color: #26577a;
        }
        .prosjekt-kort {
    border: 1px solid #41444b;
    background-color: #41444b;
    color: #ffffff;
        }
        #lede-knapp {
    background-color: #164465;
    border: 0.4px solid #143b55;
        }
.info {
                background: #41444b; /* Bakgrunnsfarge på boksen */
        }
        #menuContent {
        border: 1px solid #2c3e50;
        background-color: #164465;
        }
        #menuContent li a {
        color: white;
      }
      .om-meg-container {
        background-color: #41444b;
        }
        }