
        @media (prefers-color-scheme: dark) {
        body {
          background: #383b42; /* bakgrunnsfarge */
          color: #ffffff; /* tekstfarge */
        }
        ul#knapper {
            background: #164465; /* bakgrunnsfarge på navigasjonsbaren */
        }
        #knapper li a {
            color: white; /* tekstfarge på knappene til navigasjonsbaren */
        }
        #knapper li a::before,
        #menuContent li a::before {
              background: rgba(115,137,246,0.18); /* Lys blå sirkel */
        }
        .prosjekt-kort p h1 {
        color: #ffffff; /* Tekstfarge på prosjekt kortene */
        }
        .info {
        background: #41444b; /* Bakgrunnsfarge på boksen */
        }
        #menuContent {
        border: 1px solid #2c3e50; /* Kantfarge på dropdown menyen */
        background-color: #164465;  /* Bakgrunnsfarge på dropdown menyen */
        }
        #menuContent li a {
        color: white; /* Tekstfarge på lenkene i dropdown menyen */
        }
        .card-color, 
        .project-card i.fab.fa-github{
            background: #41444b; /* Bakgrunnsfarge på kontakt boksen */
        }

        .effect-color:hover h2,
        .effect-color:hover h1  {
            color: #3e7aa4; /* Tekstfarge ved hover på kontakt boksen */
        }
        .effect-color:hover {
            background: #575962; /* Bakgrunnsfarge ved hover på kontakt boksen */
        }
        /* farge linker */
        .link a {
          color: #3e7aa4;
          background: #3c3f45;
        }
        .link a:hover {
          background: #33363b;
        }
        .link a:visited {
          color: #3e7aa4;
        }
      }